<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attr_id</key>
		<integer>309</integer>
		<key>usda_tag</key>
		<string>ZN</string>
		<key>name</key>
		<string>Zinc, Zn</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>255</integer>
		<key>usda_tag</key>
		<string>WATER</string>
		<key>name</key>
		<string>Water</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>430</integer>
		<key>usda_tag</key>
		<string>VITK1</string>
		<key>name</key>
		<string>Vitamin K (phylloquinone)</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>573</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>Vitamin E, added</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>323</integer>
		<key>usda_tag</key>
		<string>TOCPHA</string>
		<key>name</key>
		<string>Vitamin E (alpha-tocopherol)</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>326</integer>
		<key>usda_tag</key>
		<string>CHOCAL</string>
		<key>name</key>
		<string>Vitamin D3 (cholecalciferol)</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>325</integer>
		<key>usda_tag</key>
		<string>ERGCAL</string>
		<key>name</key>
		<string>Vitamin D2 (ergocalciferol)</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>328</integer>
		<key>usda_tag</key>
		<string>VITD</string>
		<key>name</key>
		<string>Vitamin D (D2 + D3)</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>324</integer>
		<key>usda_tag</key>
		<string>VITD</string>
		<key>name</key>
		<string>Vitamin D</string>
		<key>unit</key>
		<string>IU</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>401</integer>
		<key>usda_tag</key>
		<string>VITC</string>
		<key>name</key>
		<string>Vitamin C, total ascorbic acid</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>415</integer>
		<key>usda_tag</key>
		<string>VITB6A</string>
		<key>name</key>
		<string>Vitamin B-6</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>578</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>Vitamin B-12, added</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>418</integer>
		<key>usda_tag</key>
		<string>VITB12</string>
		<key>name</key>
		<string>Vitamin B-12</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>320</integer>
		<key>usda_tag</key>
		<string>VITA_RAE</string>
		<key>name</key>
		<string>Vitamin A, RAE</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>318</integer>
		<key>usda_tag</key>
		<string>VITA_IU</string>
		<key>name</key>
		<string>Vitamin A, IU</string>
		<key>unit</key>
		<string>IU</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>510</integer>
		<key>usda_tag</key>
		<string>VAL_G</string>
		<key>name</key>
		<string>Valine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>509</integer>
		<key>usda_tag</key>
		<string>TYR_G</string>
		<key>name</key>
		<string>Tyrosine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>501</integer>
		<key>usda_tag</key>
		<string>TRP_G</string>
		<key>name</key>
		<string>Tryptophan</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>204</integer>
		<key>usda_tag</key>
		<string>FAT</string>
		<key>name</key>
		<string>Total lipid (fat)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>342</integer>
		<key>usda_tag</key>
		<string>TOCPHG</string>
		<key>name</key>
		<string>Tocopherol, gamma</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>343</integer>
		<key>usda_tag</key>
		<string>TOCPHD</string>
		<key>name</key>
		<string>Tocopherol, delta</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>341</integer>
		<key>usda_tag</key>
		<string>TOCPHB</string>
		<key>name</key>
		<string>Tocopherol, beta</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>502</integer>
		<key>usda_tag</key>
		<string>THR_G</string>
		<key>name</key>
		<string>Threonine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>404</integer>
		<key>usda_tag</key>
		<string>THIA</string>
		<key>name</key>
		<string>Thiamin</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>263</integer>
		<key>usda_tag</key>
		<string>THEBRN</string>
		<key>name</key>
		<string>Theobromine</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>269</integer>
		<key>usda_tag</key>
		<string>SUGAR</string>
		<key>name</key>
		<string>Sugars, total</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>210</integer>
		<key>usda_tag</key>
		<string>SUCS</string>
		<key>name</key>
		<string>Sucrose</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>638</integer>
		<key>usda_tag</key>
		<string>STID7</string>
		<key>name</key>
		<string>Stigmasterol</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>209</integer>
		<key>usda_tag</key>
		<string>STARCH</string>
		<key>name</key>
		<string>Starch</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>307</integer>
		<key>usda_tag</key>
		<string>NA</string>
		<key>name</key>
		<string>Sodium, Na</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>518</integer>
		<key>usda_tag</key>
		<string>SER_G</string>
		<key>name</key>
		<string>Serine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>317</integer>
		<key>usda_tag</key>
		<string>SE</string>
		<key>name</key>
		<string>Selenium, Se</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>405</integer>
		<key>usda_tag</key>
		<string>RIBF</string>
		<key>name</key>
		<string>Riboflavin</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>319</integer>
		<key>usda_tag</key>
		<string>RETOL</string>
		<key>name</key>
		<string>Retinol</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>203</integer>
		<key>usda_tag</key>
		<string>PROCNT</string>
		<key>name</key>
		<string>Protein</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>517</integer>
		<key>usda_tag</key>
		<string>PRO_G</string>
		<key>name</key>
		<string>Proline</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>306</integer>
		<key>usda_tag</key>
		<string>K</string>
		<key>name</key>
		<string>Potassium, K</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>636</integer>
		<key>usda_tag</key>
		<string>PHYSTR</string>
		<key>name</key>
		<string>Phytosterols</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>305</integer>
		<key>usda_tag</key>
		<string>P</string>
		<key>name</key>
		<string>Phosphorus, P</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>508</integer>
		<key>usda_tag</key>
		<string>PHE_G</string>
		<key>name</key>
		<string>Phenylalanine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>410</integer>
		<key>usda_tag</key>
		<string>PANTAC</string>
		<key>name</key>
		<string>Pantothenic acid</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>406</integer>
		<key>usda_tag</key>
		<string>NIA</string>
		<key>name</key>
		<string>Niacin</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>506</integer>
		<key>usda_tag</key>
		<string>MET_G</string>
		<key>name</key>
		<string>Methionine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>428</integer>
		<key>usda_tag</key>
		<string>MK4</string>
		<key>name</key>
		<string>Menaquinone-4</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>315</integer>
		<key>usda_tag</key>
		<string>MN</string>
		<key>name</key>
		<string>Manganese, Mn</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>214</integer>
		<key>usda_tag</key>
		<string>MALS</string>
		<key>name</key>
		<string>Maltose</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>304</integer>
		<key>usda_tag</key>
		<string>MG</string>
		<key>name</key>
		<string>Magnesium, Mg</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>505</integer>
		<key>usda_tag</key>
		<string>LYS_G</string>
		<key>name</key>
		<string>Lysine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>337</integer>
		<key>usda_tag</key>
		<string>LYCPN</string>
		<key>name</key>
		<string>Lycopene</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>338</integer>
		<key>usda_tag</key>
		<string>LUT+ZEA</string>
		<key>name</key>
		<string>Lutein + zeaxanthin</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>504</integer>
		<key>usda_tag</key>
		<string>LEU_G</string>
		<key>name</key>
		<string>Leucine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>213</integer>
		<key>usda_tag</key>
		<string>LACS</string>
		<key>name</key>
		<string>Lactose</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>503</integer>
		<key>usda_tag</key>
		<string>ILE_G</string>
		<key>name</key>
		<string>Isoleucine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>303</integer>
		<key>usda_tag</key>
		<string>FE</string>
		<key>name</key>
		<string>Iron, Fe</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>521</integer>
		<key>usda_tag</key>
		<string>HYP</string>
		<key>name</key>
		<string>Hydroxyproline</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>512</integer>
		<key>usda_tag</key>
		<string>HISTN_G</string>
		<key>name</key>
		<string>Histidine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>516</integer>
		<key>usda_tag</key>
		<string>GLY_G</string>
		<key>name</key>
		<string>Glycine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>515</integer>
		<key>usda_tag</key>
		<string>GLU_G</string>
		<key>name</key>
		<string>Glutamic acid</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>211</integer>
		<key>usda_tag</key>
		<string>GLUS</string>
		<key>name</key>
		<string>Glucose (dextrose)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>287</integer>
		<key>usda_tag</key>
		<string>GALS</string>
		<key>name</key>
		<string>Galactose</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>212</integer>
		<key>usda_tag</key>
		<string>FRUS</string>
		<key>name</key>
		<string>Fructose</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>431</integer>
		<key>usda_tag</key>
		<string>FOLAC</string>
		<key>name</key>
		<string>Folic acid</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>417</integer>
		<key>usda_tag</key>
		<string>FOL</string>
		<key>name</key>
		<string>Folate, total</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>432</integer>
		<key>usda_tag</key>
		<string>FOLFD</string>
		<key>name</key>
		<string>Folate, food</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>435</integer>
		<key>usda_tag</key>
		<string>FOLDFE</string>
		<key>name</key>
		<string>Folate, DFE</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>313</integer>
		<key>usda_tag</key>
		<string>FLD</string>
		<key>name</key>
		<string>Fluoride, F</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>291</integer>
		<key>usda_tag</key>
		<string>FIBTG</string>
		<key>name</key>
		<string>Fiber, total dietary</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>695</integer>
		<key>usda_tag</key>
		<string>FATRNP</string>
		<key>name</key>
		<string>Fatty acids, total trans-polyenoic</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>693</integer>
		<key>usda_tag</key>
		<string>FATRNM</string>
		<key>name</key>
		<string>Fatty acids, total trans-monoenoic</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>605</integer>
		<key>usda_tag</key>
		<string>FATRN</string>
		<key>name</key>
		<string>Fatty acids, total trans</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>606</integer>
		<key>usda_tag</key>
		<string>FASAT</string>
		<key>name</key>
		<string>Fatty acids, total saturated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>646</integer>
		<key>usda_tag</key>
		<string>FAPU</string>
		<key>name</key>
		<string>Fatty acids, total polyunsaturated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>645</integer>
		<key>usda_tag</key>
		<string>FAMS</string>
		<key>name</key>
		<string>Fatty acids, total monounsaturated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>208</integer>
		<key>usda_tag</key>
		<string>ENERC_KCAL</string>
		<key>name</key>
		<string>Energy</string>
		<key>unit</key>
		<string>kcal</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>268</integer>
		<key>usda_tag</key>
		<string>ENERC_KJ</string>
		<key>name</key>
		<string>Energy</string>
		<key>unit</key>
		<string>kJ</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>429</integer>
		<key>usda_tag</key>
		<string>VITK1D</string>
		<key>name</key>
		<string>Dihydrophylloquinone</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>507</integer>
		<key>usda_tag</key>
		<string>CYS_G</string>
		<key>name</key>
		<string>Cystine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>334</integer>
		<key>usda_tag</key>
		<string>CRYPX</string>
		<key>name</key>
		<string>Cryptoxanthin, beta</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>312</integer>
		<key>usda_tag</key>
		<string>CU</string>
		<key>name</key>
		<string>Copper, Cu</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>421</integer>
		<key>usda_tag</key>
		<string>CHOLN</string>
		<key>name</key>
		<string>Choline, total</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>601</integer>
		<key>usda_tag</key>
		<string>CHOLE</string>
		<key>name</key>
		<string>Cholesterol</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>321</integer>
		<key>usda_tag</key>
		<string>CARTB</string>
		<key>name</key>
		<string>Carotene, beta</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>322</integer>
		<key>usda_tag</key>
		<string>CARTA</string>
		<key>name</key>
		<string>Carotene, alpha</string>
		<key>unit</key>
		<string>Âµg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>205</integer>
		<key>usda_tag</key>
		<string>CHOCDF</string>
		<key>name</key>
		<string>Carbohydrate, by difference</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>639</integer>
		<key>usda_tag</key>
		<string>CAMD5</string>
		<key>name</key>
		<string>Campesterol</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>301</integer>
		<key>usda_tag</key>
		<string>CA</string>
		<key>name</key>
		<string>Calcium, Ca</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>262</integer>
		<key>usda_tag</key>
		<string>CAFFN</string>
		<key>name</key>
		<string>Caffeine</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>454</integer>
		<key>usda_tag</key>
		<string>BETN</string>
		<key>name</key>
		<string>Betaine</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>641</integer>
		<key>usda_tag</key>
		<string>SITSTR</string>
		<key>name</key>
		<string>Beta-sitosterol</string>
		<key>unit</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>514</integer>
		<key>usda_tag</key>
		<string>ASP_G</string>
		<key>name</key>
		<string>Aspartic acid</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>207</integer>
		<key>usda_tag</key>
		<string>ASH</string>
		<key>name</key>
		<string>Ash</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>511</integer>
		<key>usda_tag</key>
		<string>ARG_G</string>
		<key>name</key>
		<string>Arginine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>221</integer>
		<key>usda_tag</key>
		<string>ALC</string>
		<key>name</key>
		<string>Alcohol, ethyl</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>513</integer>
		<key>usda_tag</key>
		<string>ALA_G</string>
		<key>name</key>
		<string>Alanine</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>257</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>Adjusted Protein</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>671</integer>
		<key>usda_tag</key>
		<string>F24D1C</string>
		<key>name</key>
		<string>24:1 c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>621</integer>
		<key>usda_tag</key>
		<string>F22D6</string>
		<key>name</key>
		<string>22:6 n-3 (DHA)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>631</integer>
		<key>usda_tag</key>
		<string>F22D5</string>
		<key>name</key>
		<string>22:5 n-3 (DPA)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>630</integer>
		<key>usda_tag</key>
		<string>F22D1</string>
		<key>name</key>
		<string>22:1 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>664</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>22:1 t</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>676</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>22:1 c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>629</integer>
		<key>usda_tag</key>
		<string>F20D5</string>
		<key>name</key>
		<string>20:5 n-3 (EPA)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>620</integer>
		<key>usda_tag</key>
		<string>F20D4</string>
		<key>name</key>
		<string>20:4 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>855</integer>
		<key>usda_tag</key>
		<string>F20D4N6</string>
		<key>name</key>
		<string>20:4 n-6</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>689</integer>
		<key>usda_tag</key>
		<string>F20D3</string>
		<key>name</key>
		<string>20:3 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>853</integer>
		<key>usda_tag</key>
		<string>F20D3N6</string>
		<key>name</key>
		<string>20:3 n-6</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>852</integer>
		<key>usda_tag</key>
		<string>F20D3N3</string>
		<key>name</key>
		<string>20:3 n-3</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>672</integer>
		<key>usda_tag</key>
		<string>F20D2CN6</string>
		<key>name</key>
		<string>20:2 n-6 c,c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>856</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>18:3i</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>619</integer>
		<key>usda_tag</key>
		<string>F18D3</string>
		<key>name</key>
		<string>18:3 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>685</integer>
		<key>usda_tag</key>
		<string>F18D3CN6</string>
		<key>name</key>
		<string>18:3 n-6 c,c,c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>851</integer>
		<key>usda_tag</key>
		<string>F18D3CN3</string>
		<key>name</key>
		<string>18:3 n-3 c,c,c (ALA)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>618</integer>
		<key>usda_tag</key>
		<string>F18D2</string>
		<key>name</key>
		<string>18:2 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>669</integer>
		<key>usda_tag</key>
		<string>F18D2TT</string>
		<key>name</key>
		<string>18:2 t,t</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>665</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>18:2 t not further defined</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>675</integer>
		<key>usda_tag</key>
		<string>F18D2CN6</string>
		<key>name</key>
		<string>18:2 n-6 c,c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>666</integer>
		<key>usda_tag</key>
		<string>NULL</string>
		<key>name</key>
		<string>18:2 i</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>670</integer>
		<key>usda_tag</key>
		<string>F18D2CLA</string>
		<key>name</key>
		<string>18:2 CLAs</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>859</integer>
		<key>usda_tag</key>
		<string>F18D1TN7</string>
		<key>name</key>
		<string>18:1-11t (18:1t n-7)</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>617</integer>
		<key>usda_tag</key>
		<string>F18D1</string>
		<key>name</key>
		<string>18:1 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>663</integer>
		<key>usda_tag</key>
		<string>F18D1T</string>
		<key>name</key>
		<string>18:1 t</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>674</integer>
		<key>usda_tag</key>
		<string>F18D1C</string>
		<key>name</key>
		<string>18:1 c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>626</integer>
		<key>usda_tag</key>
		<string>F16D1</string>
		<key>name</key>
		<string>16:1 undifferentiated</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>662</integer>
		<key>usda_tag</key>
		<string>F16D1T</string>
		<key>name</key>
		<string>16:1 t</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>673</integer>
		<key>usda_tag</key>
		<string>F16D1C</string>
		<key>name</key>
		<string>16:1 c</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>654</integer>
		<key>usda_tag</key>
		<string>F24D0</string>
		<key>name</key>
		<string>24:00:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>858</integer>
		<key>usda_tag</key>
		<string>F22D4</string>
		<key>name</key>
		<string>22:04</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>624</integer>
		<key>usda_tag</key>
		<string>F22D0</string>
		<key>name</key>
		<string>22:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>857</integer>
		<key>usda_tag</key>
		<string>F21D5</string>
		<key>name</key>
		<string>21:05</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>628</integer>
		<key>usda_tag</key>
		<string>F20D1</string>
		<key>name</key>
		<string>20:01</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>615</integer>
		<key>usda_tag</key>
		<string>F20D0</string>
		<key>name</key>
		<string>20:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>627</integer>
		<key>usda_tag</key>
		<string>F18D4</string>
		<key>name</key>
		<string>18:04</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>614</integer>
		<key>usda_tag</key>
		<string>F18D0</string>
		<key>name</key>
		<string>18:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>687</integer>
		<key>usda_tag</key>
		<string>F17D1</string>
		<key>name</key>
		<string>17:01</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>653</integer>
		<key>usda_tag</key>
		<string>F17D0</string>
		<key>name</key>
		<string>17:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>613</integer>
		<key>usda_tag</key>
		<string>F16D0</string>
		<key>name</key>
		<string>16:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>697</integer>
		<key>usda_tag</key>
		<string>F15D1</string>
		<key>name</key>
		<string>15:01</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>652</integer>
		<key>usda_tag</key>
		<string>F15D0</string>
		<key>name</key>
		<string>15:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>625</integer>
		<key>usda_tag</key>
		<string>F14D1</string>
		<key>name</key>
		<string>14:01</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>612</integer>
		<key>usda_tag</key>
		<string>F14D0</string>
		<key>name</key>
		<string>14:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>696</integer>
		<key>usda_tag</key>
		<string>F13D0</string>
		<key>name</key>
		<string>13:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>611</integer>
		<key>usda_tag</key>
		<string>F12D0</string>
		<key>name</key>
		<string>12:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>610</integer>
		<key>usda_tag</key>
		<string>F10D0</string>
		<key>name</key>
		<string>10:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>609</integer>
		<key>usda_tag</key>
		<string>F8D0</string>
		<key>name</key>
		<string>8:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>608</integer>
		<key>usda_tag</key>
		<string>F6D0</string>
		<key>name</key>
		<string>6:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
	<dict>
		<key>attr_id</key>
		<integer>607</integer>
		<key>usda_tag</key>
		<string>F4D0</string>
		<key>name</key>
		<string>4:00</string>
		<key>unit</key>
		<string>g</string>
	</dict>
</array>
</plist>
